<!doctype html>
<!--[if lt IE 7]>      <html ng-app="yololiumApp" ng-strict-di class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="yololiumApp" ng-strict-di class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="yololiumApp" ng-strict-di class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="yololiumApp" ng-strict-di class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>LDS I/O - OAuth2 APIs for Latter-Day Developers</title>
    <meta name="description" content="An API for Latter-Day Saint develpers to create magnificent apps for their wards and stakes">
    <meta name="viewport" content="user-scalable=0, initial-scale=1.0">

    <!-- Canonical self-reference-->
    <link rel="canonical" href="https://lds.io/">
    <link rel="icon" href="favicon.ico" />

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->

    <!-- link href="//netdna.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css" rel="stylesheet" -->
    <link href="styles/bootstrap.flatly.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.min.css" rel="stylesheet">
    <link href="styles/font-awesome.min.css" rel="stylesheet">
    <!-- fontawesome fonts MUST exist in ../fonts/ -->
  </head>
  <body style="padding-top: 50px;" ng-init="ngLoaded = true" class="fade" ng-class="{ in: ngLoaded }">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->

    <!--.navbar.navbar-default.navbar-fixed-top-->
    <div ng-controller="NavController as NC" style="margin-bottom: 0; border-top-width: 0;" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a href="#/" class="navbar-brand"><span>LDS I/O</span><img ng-src="images/lds-connect-logo-inverse-32px.png" style="position: relative; top: -6px; padding-right: 8px;" class="navbar-logo img pull-left"/></a>
          <div>
            <button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
        </div>
        <div id="navbar-main" ng-class="!navCollapsed &amp;&amp; 'in'" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="api">API</a></li>
            <!--<li><a
              href="https://github.com/LDSorg/lds.io-backend/issues"
              target="github-issues-ldsio-backend"
              >Issues on Github</a></li>-->
              <!-- Place this tag where you want the button to render. -->
<li><a aria-label="Issue LDSorg/lds.io-backend on GitHub" data-count-aria-label="# issues on GitHub" data-count-api="/repos/LDSorg/lds.io-backend#open_issues_count" data-style="mega" data-icon="octicon-issue-opened" href="https://github.com/LDSorg/lds.io-backend/issues" class="github-button">Issue</a></li>
            <li ng-show="NC.session.accounts.length"><a ui-sref="playground">Playground</a></li>
            <li ng-show="NC.session.accounts.length"><a ui-sref="develop">My Apps</a></li>
            <li ng-show="!NC.session.accounts.length"><a href="" ng-click="NC.showLoginModal()">Login</a></li>
            <li ng-show="NC.session.accounts.length" class="dropdown"><a id="account" data-toggle="dropdown" href="" class="dropdown-toggle">Account<span class="caret"></span></a>
              <ul aria-labelledby="account" class="dropdown-menu">
                <!-- li><a href="" ui-sref="account">Settings</a></li>
                <li class="divider"></li -->
                <li><a href="" ng-click="NC.logout()">Logout</a></li>
              </ul>
            </li>
          </ul>
          <div class="navbar-form navbar-right">
            <a
              class="btn btn-success"
              href="https://groups.google.com/forum/#!forum/lds-connect"
              target="googlegroups-ldsconnect"
              >Join the Mailing List</a>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="R.dev" class="alert alert-warning" style="width: 100%; text-align: center;">
      <h4>This is the developer (beta) site.</h4>
      <p>Please visit
        <a href="https://lds.io">https://lds.io</a> for the live site.
      </p>
    </div>

    <div ng-if="rootDeveloperMode" class="alert alert-info">
      <p>You are in developer mode. Clear your cache to go back to live mode.
      <pre
      ><code
>LdsIo.cache.destroy().then(function () {
  location.reload();
});</pre></code>
    </div>

    <div ng-if="rootTryDev" class="alert alert-success">
      <p>You are in live mode. Set your API source to the beta site and refresh to enter developer mode.
      <pre
      ><code
>LdsIo.cache.destroy().then(function () {
  return LdsIo.storage.set('providerUri', 'https://beta.lds.io');
}).then(function () {
  location.reload();
});</pre></code>
    </div>


    <div class="ui-view-body" ui-view="body" autoscroll="false">

      <div class="container">
        <br/>
        <div class="jumbotron">
          <p>current version: v2.0.0-rc6
          <h1>This is the Place!</h1>
          <p>We're strengthening the Stakes of Zion one API at a time.</p>
        </div>
        <div>
          <h2>Currently Serving Third-party APIs for</h2>
          <h3>
          <ul>
            <li>Member Details</li>
            <li>Stake Calling Directory</li>
            <li>Stake Photo Directory</li>
            <li>Ward Member and Calling Directory</li>
            <li>Ward Photo Directory</li>
          </ul>
          </h3>
          <center>
            <a class="btn btn-lg btn-info" ui-sref="playground">API Explorer</a>
            <a class="btn btn-lg btn-info" ui-sref="api">Documentation</a>
            <a class="btn btn-lg btn-info"
              href="https://github.com/ldsorg?utf8=%E2%9C%93&query=frontend-"
              target="github-frontend-libraries"
            >Frontend Libraries</a>
            <a class="btn btn-lg btn-info"
              href="https://github.com/ldsorg?utf8=%E2%9C%93&query=backend-"
              target="github-backend-libraries"
            >Backend Libraries</a>
          </center>
        </div>
      </div>
      <br/>
      <br/>

    <a href="https://github.com/LDSorg/" target="ldsorggithub"><img style="position: absolute; top: 50px; left: 0; border: 0;" src="/images/github-ribbon-forkme_left_red_aa0000.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
    </div>

    <div class="container">
      <div class="footer non-print">
        <div class="row">
          <div class="col-sm-12">
            <center>
              © 2015 by LDS I/O
              <span> • </span>
              <a target="ldsorg-main" href="https://lds.org">LDS.org</a>
              <span> • </span>
              <a target="ldsconnect-main" href="https://ldsconnect.org">LDS Connect</a>
              <span> • </span>
              <!--<a target="ldsio-github" href="https://github.com/LDSorg">Github</a>-->
              <!-- Place this tag where you want the button to render. -->
              <a aria-label="Follow @LDSorg on GitHub" data-count-aria-label="# followers on GitHub" data-count-api="/users/LDSorg#followers" data-count-href="/LDSorg/followers" data-style="mega" href="https://github.com/LDSorg" class="github-button">Follow @LDSorg</a>
            </center>
            <br/>
            <center><span>Built with </span>
              <!--a(target="_blank", href="https://youtu.be/N-soFXDN6Ss#t=58", style="text-decoration: none;") &#x2665;-->
              <!-- a target="_blank" href="https://ldsconnect.org/vids/built-with-love" style="text-decoration: none; color: #F778A1; font-size: 1.3em;">♥</a -->
              <a target="_blank" href="https://www.youtube.com/watch?v=ubIP8R5-6Tw" style="text-decoration: none; color: #F778A1; font-size: 1.3em;">♥</a>
              <span> by </span><a target="_blank" href="https://coolaj86.com">AJ</a><span>&nbsp;(</span><a target="_blank" href="https://AJ.the.DJ">the DJ</a><span>)</span>
            </center>
          </div>
        </div>
      </div>
    </div>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/recase/recase.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/modules.js -->
    <script src="scripts/client-config.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/verify-contact-details.js"></script>
    <script src="scripts/services/st-api.js"></script>
    <script src="scripts/services/lds-account.js"></script>
    <script src="scripts/services/st-oauthclients.js"></script>
    <script src="scripts/controllers/oauthclients.js"></script>

    <script src="bower_components/oauth3/oauth3.js"></script>
    <script src="bower_components/oauth3/angular-oauth3.js"></script>
    <!-- script src="bower_components/oauth3/angular-oauth3.min.js"></script -->

    <script src="bower_components/angular-lds-io/src/lds-io-storage.js"></script>
    <script src="bower_components/angular-lds-io/src/lds-io-config.js"></script>
    <script src="bower_components/angular-lds-io/src/lds-io-cache.js"></script>
    <script src="bower_components/angular-lds-io/src/lds-io-session.js"></script>
    <script src="bower_components/angular-lds-io/src/lds-io-api.js"></script>
    <script src="bower_components/angular-lds-io/src/lds-io.js"></script>
    <script src="bower_components/angular-lds-io/src/angular-lds-api.js"></script>
    <!-- script src="bower_components/angular-lds-io/lds-io.min.js"></script -->

    <script src="scripts/controllers/playground.js"></script>
    <!-- endbuild -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', window.StClientConfig.googleAnalyticsUa, 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
