<!doctype html>
<!--[if lt IE 7]>      <html ng-app="yololiumApp" ng-strict-di class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="yololiumApp" ng-strict-di class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="yololiumApp" ng-strict-di class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="yololiumApp" ng-strict-di class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>LDS I/O - OAuth2 APIs for LDS Developers</title>
    <meta name="description" content="An API for Latter-Day Saint develpers to create magnicent apps for their wards and stakes">
    <meta name="viewport" content="user-scalable=0, initial-scale=1.0">

    <!-- Canonical self-reference-->
    <link rel="canonical" href="https://lds.io/">
    <link rel="icon" href="favicon.ico" />

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->

    <!-- link href="//netdna.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css" rel="stylesheet" -->
    <link href="styles/bootstrap.flatly.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.min.css" rel="stylesheet">
    <link href="styles/font-awesome.min.css" rel="stylesheet">
    <!-- fontawesome fonts MUST exist in ../fonts/ -->
  </head>
  <body style="padding-top: 50px;" ng-init="ngLoaded = true" class="fade" ng-class="{ in: ngLoaded }">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div ng-include="'views/nav.html'"></div>

    <div ng-if="R.dev" class="alert alert-warning" style="width: 100%; text-align: center;">
      <h4>This is the developer (beta) site.</h4>
      <p>Please visit
        <a href="https://lds.io">https://lds.io</a> for the live site.
      </p>
    </div>

    <div class="ui-view-body" ui-view="body" autoscroll="false">

      <div class="container">
        <br/>
        <div class="jumbotron">
          <h1>LDS API v2.0</h1>
          <p>Login to see data examples for your ward and to register apps.</p>
          <p>clone the current seed project from <a href="https://github.com/LDSorg/frontend-oauth2-browser-angular-seed-example"target="github-browser-demo">LDS OAuth2 Browser Demo</a>.</p>
          <p>More documentation, examples, and AngularJs library forthcoming.</p>
        </div>
        <div>
          <h2>This is a new Project</h2>
          <p>If something isn't working right, it might be your fault, but it also might be ours.
            Please be patient as we work to better serve you.
          <h3>Join the Mailing List</h3>
          <p>The API is still subject to minor changes. Join the mailing list to be notified of changes
            and participate in helpful discussions.
          <a href="https://groups.google.com/forum/#!forum/lds-connect">lds-connect on Google Groups</a>
          <h3>Something not Working?</h3>
          <ul>
            <li><a href="https://github.com/LDSorg/lds.io-backend/issues">Report API Bugs on Github</a></li>
            <li><a href="https://github.com/LDSorg/lds.io-frontend/issues">Report Browser Bugs on Github</a></li>
          </ul>
          <br/>
        </div>
        <div>
          <pre>
            <code>
  //
  // APIs (beta)
  //

  <span ng-if="!MC.user"
  >Login to see live data.
  
  https://lds.io/api/ldsio/accounts
  https://lds.io/api/ldsio/&lt;accountId>/me
  https://lds.io/api/ldsio/&lt;accountId>/stakes/&lt;stakeId>
  https://lds.io/api/ldsio/&lt;accountId>/stakes/&lt;stakeId>/photos
  https://lds.io/api/ldsio/&lt;accountId>/stakes/&lt;stakeId>/wards/&lt;wardId>
  https://lds.io/api/ldsio/&lt;accountId>/stakes/&lt;stakeId>/wards/&lt;wardId>/photos
  https://lds.io/api/ldsio/&lt;accountId>/photos/individual/&lt;individualId>/&lt;date>/medium/&lt;whatever>.jpg
  https://lds.io/api/ldsio/&lt;accountId>/photos/family/&lt;homeId>/&lt;date>/medium/&ltwhatever>.jpg</span
  ><span ng-if="MC.user"
  >Click on the links to see the data for your ward and stake!
  
  <a ng-href="https://lds.io/api/ldsio/accounts"
    target="ldsioaccounts">/api/ldsio/accounts</a>
  <a ng-href="https://lds.io/api/ldsio/{{ MC.account.id }}/me"
    target="ldsiome">/api/ldsio/{{ MC.account.id }}/me</a>
  <a ng-href="https://lds.io/api/ldsio/{{ MC.account.id }}/stakes/{{ MC.user.homeStakeId }}"
    target="ldsioward{{MC.user.homeStakeId}}"
    >/api/ldsio/{{ MC.account.id }}/stakes/{{ MC.user.homeStakeId }}</a>
  <a href="https://lds.io/api/ldsio/{{ MC.account.id }}/stakes/{{ MC.user.homeStakeId }}/photos"
    target="ldsioward{{MC.user.homeStakeId}}photos"
    >/api/ldsio/{{ MC.account.id }}/stakes/{{ MC.user.homeStakeId }}/photos</a>
  <a ng-href="https://lds.io/api/ldsio/{{ MC.account.id }}/stakes/{{ MC.user.homeStakeId }}/wards/{{ MC.user.homeWardId }}"
    target="ldsioward{{MC.user.homeWardId}}"
    >/api/ldsio/{{ MC.account.id }}/stakes/{{ MC.user.homeStakeId }}/wards/{{ MC.user.homeWardId }}</a>
  <a href="https://lds.io/api/ldsio/{{ MC.account.id }}/stakes/{{ MC.user.homeStakeId }}/wards/{{ MC.user.homeWardId }}/photos"
    target="ldsioward{{MC.user.homeWardId}}photos"
    >/api/ldsio/{{ MC.account.id }}/stakes/{{ MC.user.homeStakeId }}/wards/{{ MC.user.homeWardId }}/photos</a>
  <a ng-href="https://lds.io/api/ldsio/{{ MC.account.id }}/photos/individual/{{ MC.user.individualId }}/{{ MC.user.photos[0].updatedAt }}/medium/{{ MC.urlsafe(MC.user.name) }}.jpg"
    target="ldsio{{MC.user.individualId}}memberphoto"
    >/api/ldsio/{{ MC.account.id }}/photos/individual/{{ MC.user.individualId }}/{{ MC.user.photos[0].updatedAt }}/medium/{{ MC.urlsafe(MC.user.name) }}.jpg</a>
  <a ng-href="https://lds.io/api/ldsio/{{ MC.account.id }}/photos/family/{{ MC.user.individualId }}/{{ MC.user.photos[1].updatedAt }}/medium/{{ MC.urlsafe(MC.user.surnames.join('-')) }}.jpg"
    target="ldsio{{MC.user.individualId}}familyphoto"
    >/api/ldsio/{{ MC.account.id }}/photos/family/{{ MC.user.individualId }}/{{ MC.user.photos[1].updatedAt }}/medium/{{ MC.urlsafe(MC.user.surnames.join('-')) }}s.jpg</a></span>

  Note: choose from large (500x375), medium (200x150), or thumbnail (40x40)

  //
  // Bugs
  //
  See <a href="https://github.com/LDSorg/lds.io-backend/issues" target="github-lds-io"
    >https://github.com/LDSorg/lds.io-backend/issues</a>

  //
  // Todos
  //
  * show list of available apps
  * show list of apps I have allowed
  * cURL example exploring API with `--cookie my-session.txt`
  * test cancel / rejection
  * pass grantend_scope
            </code>
          </pre>
        </div>
        <div>
          <pre>
            <code>
{{ MC.session | json }}</code>
          </pre>
        </div>
      </div>

    <a href="https://github.com/LDSorg/" target="ldsorggithub"><img style="position: absolute; top: 50px; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
    </div>

    <div class="container">
      <div class="footer non-print">
        <div class="row">
          <div class="col-sm-12">
            <center>
              © 2015 by LDS I/O
              <span> • </span>
              <a target="ldsorg-main" href="https://lds.org">LDS.org</a>
              <span> • </span>
              <a target="ldsconnect-main" href="https://ldsconnect.org">LDS Connect</a>
              <span> • </span>
              <a target="ldsio-github" href="https://github.com/LDSorg">Github</a>
            </center>
            <br/>
            <center><span>Built with </span>
              <!--a(target="_blank", href="https://youtu.be/N-soFXDN6Ss#t=58", style="text-decoration: none;") &#x2665;-->
              <!-- a target="_blank" href="https://ldsconnect.org/vids/built-with-love" style="text-decoration: none; color: #F778A1; font-size: 1.3em;">♥</a -->
              <a target="_blank" href="https://youtu.be/N-soFXDN6Ss#t=58" style="text-decoration: none; color: #F778A1; font-size: 1.3em;">♥</a>
              <span> by </span><a target="_blank" href="https://coolaj86.com">AJ</a><span>&nbsp;(</span><a target="_blank" href="https://AJ.the.DJ">the DJ</a><span>)</span>
            </center>
          </div>
        </div>
      </div>
    </div>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/recase/recase.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/modules.js -->
    <script src="scripts/client-config.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app-churchly.js"></script>
    <script src="scripts/services/st-api.js"></script>
    <script src="scripts/services/st-oauth-providers.js"></script>
    <script src="scripts/services/st-session.js"></script>
    <script src="scripts/services/st-login.js"></script>
    <script src="scripts/services/lds-account.js"></script>
    <script src="scripts/services/lds-io.js"></script>
    <script src="scripts/services/st-account.js"></script>
    <script src="scripts/services/st-oauthclients.js"></script>
    <script src="scripts/services/st-alert.js"></script>
    <script src="scripts/controllers/alert.js"></script>
    <script src="scripts/controllers/login-v2.js"></script>
    <script src="scripts/controllers/account-new.js"></script>
    <script src="scripts/controllers/account.js"></script>
    <script src="scripts/controllers/lds-account.js"></script>
    <script src="scripts/controllers/nav.js"></script>
    <script src="scripts/controllers/oauthclients.js"></script>
    <script src="scripts/controllers/oauth.js"></script>
    <script src="scripts/controllers/verify-contact-details.js"></script>

    <!-- endbuild -->
  </body>
</html>
