//.navbar.navbar-default.navbar-fixed-top
.navbar.navbar-default.navbar-fixed-top(ng-controller="NavController as NC" style="margin-bottom: 0; border-top-width: 0;")
  .container
    .navbar-header
      //-div.pull-left(style="padding-top: 9px; padding-left: 9px; padding-bottom: 9px;")
      a.navbar-brand(href="#/")
        span LDS I/O
        img.navbar-logo.img(ng-src="images/lds-connect-logo-inverse-32px.png" style="position: relative; top: -6px; padding-right: 8px;" class="pull-left")
      div
        button.navbar-toggle(type='button', ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed")
          span.icon-bar
          span.icon-bar
          span.icon-bar
    #navbar-main.navbar-collapse.collapse(ng-class="!navCollapsed && 'in'")
      ul.nav.navbar-nav.navbar-right
        li(ng-show="NC.session.accounts.length")
          a(ui-sref="develop") Develop

        li(ng-show="!NC.session.accounts.length")
          a(href="" ng-click="NC.showLoginModal()") Login

        li.dropdown(ng-show="NC.session.accounts.length")
          a#account.dropdown-toggle(data-toggle='dropdown', href='')
            | Account
            span.caret
          ul.dropdown-menu(aria-labelledby='account')
            li
              a(href="", ui-sref="account") Settings
            li.divider
            li
              a(href="", ng-click="NC.logout()") Logout
